header
  .header-position
    h1.logo Babs Craig
    
    nav.site-nav
      ul
        li: a(href="#about") About
        li: a(href="#youtube") YouTube
        li: a(href="#articles") Articles
        li: a(href="#work") Work
        li: a(href="#contact") Contact
    
    a(href="mailto:babscraig@gmail.com").email-link +email me
