section.youtube
  .flex.flex--space-around
    .col-1
      //.play-button
        //.play-image
          //img(src="../assets/img/play-button.png")
      .video-strip
      .flex-video <iframe src="https://www.youtube.com/embed/89sacBIEq4g?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    
    .col-1.order-first
      p.home-lead.outdented ...reviewing and sharing the best channels to learn about code...
      a(href="").home-cta Watch on Youtube
