section.home-footer
  .flex.flex--center
    .col-2
      a(href="mailto:babscraig@gmail.com") babscraig@gmail.com




//footer.home-footer
  
  //a(href="mailto:babscraig@gmail.com") babscraig@gmail.com
